{% extends 'base.html' %}

{% block content %}

<main class="container">
    <section class="card card-body">
        <h1 class="display-1 text-center">Django app</h1>
        <p>Esta aplicación es un CRUD de tareas, para poder llevar un mejor control de las mismas. Realizada utilizando Django y Bootstrap.</p>
    
        <div class="text-center">
            <a class="btn btn-primary" href="/signin">
                Signin
            </a>
            <a class="btn btn-primary" href="/signup">
                Signup
            </a>
        </div>
    
    
    </section>
</main>

{% endblock %}